
@import '../../styles/variables.css';

.button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
}

.button__primary {
    background-color: var(--theme-color);
    color: white;
}

.button__primary:hover {
    background-color: var(--theme-color-hover);
    color: white;
}

.button__primary:disabled {
    background-color: gray;
    color: darkgray;
}